*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: #1A1A1A;
}
.header{
  height: 7.5ex;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #2E3440;
}
.header_logo{
    margin: 0;
    margin-left: 10px;
    justify-content: space-between;
}
.menu_icon_bg{
  top: 0;
  position: absolute;
  right: 0;
}
.menu_icon{
  border-radius: 10px;
}
.menu_icon img{
  width: 50px;
  margin: 7px;
}
.header_logo img{
  width: 180px;
  margin-top: 5px;
}
.data_board{
  margin-top: 25px;
  font-family: prometo;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.title{
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  align-content: center;
  margin-bottom: -15px;
}
.title img{
  width: 200px;
}
.data_con{
  background: #2E3440;
  width: 96%;
  border-radius: 20px;
}
.data_content{
  margin: 10px;
}
.comp_name{
  margin-left: 10px;
}
.comp_name p{
  font-family: Prometo;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}
.comp_details{
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.country_logo img{
  border-radius: 100%;
  width: 25px;
  object-fit: cover;
  height: 25px;
}
.matches{
  margin: 10px;
}
.matches_con{
  margin-left: 20px;
  background: #1A1A1A;
  margin-top: 15px;
  border-radius: 10px;
}
.teams p{
  font-family: Prometo;
  font-size: 13px;
}
.hometeam{
  display: flex;
  width: 100%;
  align-items: center;
}
.home_score {
  margin-right: 15px;
}
.home_score p{
  text-align: right;
  font-weight: bold;
}
.hometeam img{
  width: 35px;
  margin-top: 8px;
}
.hometeam p{
  margin-left: 7px;
  font-weight: bold;
  color: white;
  width: 100%;
}
.awayteam{
  display: flex;
  align-items: center;
}
.awayteam p{
  margin-left: 7px;
  font-weight: bold;
  font-size: 13px;
  color: white;
  width: 100%;
}
.awayteam img{
  width: 35px;
  margin-top: 8px;
}
.status{
  
}
.status p{
  font-weight: bold;
  font-size: 12px;
}