.main_bg{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
}
body{
    font-family: futura;
    font-weight: 500;
}
.news_bg{
    width: 95%;
    background: white;
    border-radius: 10px;
}
.news_box{
    width: 95%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}
.news{
    width: 90%;
    display: flex;
}
.news_img img{
    width: 100px;
    border-radius: 10px;
}
.news_title{
    margin-left: 10px;
    width: 100%;
}