.main_body{
    display: grid;
    place-items: center;
    width: 100%;
}
.news{
    width: 90%;
    margin-top: 20px;    
}
.news_bg{
    background: white;
    border-radius: 10px;
}
.news_bg img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.news_title{
    margin-top: 0;
    width: 95%;    
}
.news_title p{
    font-weight: 500;
    
    margin-bottom: 5px;
    font-family: futura;
}
