<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <script src="{{url_for('static', filename='home.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script> 
<script src="{{url_for('static',filename='home.js')}}"></script>
</head>
<body onload="get_socket()">
    <div class="header">
      <div class="header_logo">
        <img src="{{url_for('static',filename='sslogo.png')}}">
      </div>
    </div>
    <div class="menu_icon_bg">
      <div class="menu_icon">
        <img src="{{url_for('static',filename='ssmenu.png')}}">
      </div>
    </div>
    <div class="comp_name">
      <p>
        
      </p>
    </div>
    <div class="data_board">
      <div class="data_con">
        <div class="title">
          <img src="{{url_for('static',filename='rm.png')}}">
          </p>
        </div>
        <div class="data_content">
          {% for comp_name in comp_names %}
          
          <div class="comp_details">
            <div class="country_logo">
            <img src="{{comp_name[1]}}">
          </div>
            <div class="comp_name">
            <p>
              {{comp_name[0]}} - {{comp_name[2]}}
            </p>
          </div>
        </div>
            {% for get_comp in data %}
              {% if comp_name[0] == get_comp["competition"]["name"] %}
                <div class="matches_con">
                  <form action="{{url_for('home')}}" method="POST" style="display:none;">
                    <input type="text" value="{{get_comp}}" name="data">
                    <input type="submit" id="submit{{get_comp["homeTeam"]}}">
                  </form>
                <label for="submit{{get_comp["homeTeam"]}}">
                <div class="matches">
                  <br>
                  <div class="status">
                    {% set match_status = get_comp["status"] %}
                    {% if match_status == "FINISHED" %}
                      <p style="color:lightgreen;">
                        Full-Time
                      </p>
                    {% elif match_status == "TIMED" %}
                    <p style="color:lightblue;">
                      Comming Soon
                    </p>
                    {% elif match_status == "IN_PLAY" %}
                    <p style="color:red">
                      Live
                    </p>
                    {% elif match_status =="PAUSED" %}
                    <p style="color:darkgrey">
                      Half - Time
                    </p>
                    {% endif %}
                  </div>
                  <div class="teams">
                    <div class="hometeam">
                      <img src="               {{get_comp["homeTeam"]["crest"]}}">
                      <p>{{get_comp["homeTeam"]["name"]}}</p>
                      <div class="home_score">
                        {% if match_status == "IN_PLAY" %}
                          <p team_code={{get_comp.homeTeam.tla}}>
                            {{get_comp["score"]["fullTime"]["home"]}}
                          </p>
                        {% elif match_status == "FINISHED" %}
                          <p team_code={{get_comp.homeTeam.tla}}>      {{get_comp["score"]["fullTime"]["home"]}}
                          </p>
                          {% elif match_status=="PAUSED" %}
                          <p>
                            {{get_comp["score"]["fullTime"]["home"]}}
                          </p>
                        {% endif %}
                      </div>
                    </div>
                    <div class="awayteam">
                      <img src="               {{get_comp["awayTeam"]["crest"]}}">
                      <p>{{get_comp["awayTeam"]["name"]}}</p>
                      <div class="home_score">
                        {% if match_status == "IN_PLAY" %}
                          <p team_code={{get_comp["homeTeam"]["tla"]}} >                        {{get_comp["score"]["fullTime"]["away"]}}
                          </p>
                        {% elif match_status == "FINISHED" %}
                          <p team_code={{get_comp["homeTeam"]["tla"]}}>      {{get_comp["score"]["fullTime"]["away"]}}
                          </p>
                          {% elif match_status == "PAUSED" %}
                         <p> {{get_comp["score"]["fullTime"]["away"]}}
                        {% endif %}
                        </p>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
                </div>
                </label>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
      </body>            
</html>