<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='match_details.css')}}">
    <script src="{{url_for('static', filename='home.js')}}"></script>
</head>
<body>
  <div class="header">
      <div class="header_logo">
        <img src="{{url_for('static',filename='sslogo.png')}}">
      </div>
    </div>
    <div class="menu_icon_bg">
      <div class="menu_icon">
        <img src="{{url_for('static',filename='ssmenu.png')}}">
      </div>
    </div>
    <div class="details_bg">
      <div class="details_box">
        <div class="details">
          <div class="comp_details">
            <div class="country_logo">
              <img src="{{data.area.flag}}">
            </div>
            <div class="comp_name">
              <p>
                {{data.area.name}} - {{data.competition.name}}
              </p>
            </div>
          </div>
          <div class="match_info">
            <div class="teams">
              <div class="team_logos">
                <div class="home_logo">
                  <p>{{data.homeTeam.name}}</p>
                  <img src="{{data.homeTeam.crest}}">
                </div>
                <div class="status">
                  {% if data.status == "TIMED" %}
                    <p style="color:lightblue">Comming Soon</p>
                  {% elif data.status == "FINISHED" %}
                    <p style="color:green">Full - Time</p>
                  {% elif data.status == "PAUSED" %}
                    <p style="color:lightblue">Half - Time</p>
                  {% elif data.status == "IN_PLAY" %}
                    <p style="color:red">
                      Live
                    </p>
                  {% endif %}
                </div>
                <div class="away_logo">
                  <p>{{data.awayTeam.name}}</p>
                  <img src="{{data.awayTeam.crest}}">
                  <p>
                    
                </p>
                </div>
              </div>
              <div class="team_names">
                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>